################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/availability-minion/.vs/availability-minion/DesignTimeBuild/.dtbcache
