################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/availability-minion/.vs/availability-minion/DesignTimeBuild/.dtbcache
/availability-minion/.vs/availability-minion/v16/Server/sqlite3/db.lock
/availability-minion/.vs/availability-minion/v16/Server/sqlite3/storage.ide
/availability-minion-multi/.vs/availability-minion-multi/v16/Server/sqlite3/db.lock
/availability-minion-multi/.vs/availability-minion-multi/v16/Server/sqlite3/storage.ide-shm
/availability-minion-multi/.vs/availability-minion-multi/v16/Server/sqlite3/storage.ide-wal
